@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fira+Code&family=Inspiration&family=Inter:wght@300&family=Montserrat:wght@700&family=PT+Mono&family=Poppins:wght@300&family=Roboto:wght@300&family=Shadows+Into+Light&family=Sora:wght@300;400;600;800&display=swap');
/*fira-code*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fira+Code:wght@300;400&family=Inspiration&family=Inter:wght@300&family=Montserrat:wght@700&family=PT+Mono&family=Poppins:wght@300&family=Roboto:wght@300&family=Shadows+Into+Light&family=Sora:wght@300;400;600;800&display=swap');

html{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code",Poppins ,Arial, Helvetica, sans-serif;
    font-family: Poppins ,Arial, Helvetica, sans-serif;
    color: #fafafa;
}

body{
    width: 100%;
}

body::-webkit-scrollbar {
    width: 12px;         
}
  
body::-webkit-scrollbar-track {  
    background: #4359e2;   
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff;  
  border-radius: 20px;        
  border: 3px solid #4359e2;
}

a{text-decoration: none;}

body > div:first-child .menu-outline{
    display: none;
}

body > div:first-child{
    width: 100%;
    padding: 5vh 0vw;
    background:  #4359e2;
}

body > div:first-child h1{
    text-align: center;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.menu{
    width: 25%;
    display: flex;
    padding: 4px 4px 0 4px;
    border-top: 1px solid #ffffff;
    background: #4359e2;
    flex-direction: column;
}

.menu a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 1vw;
    border-bottom: 1px solid #ffffff;
}

.menu a:nth-child(4){
    border-radius: 10px 10px 0 0;
    background: #ffffff;
}

.menu a:hover{
    border-radius: 10px 10px 0 0;
    background: #ffffff;
}

.menu a:hover span, .menu a:hover ion-icon{
    color: #1a1919;
}

.menu a:nth-child(4) span, .menu a:nth-child(4) ion-icon{
    color: #1a1919;
}

.menu a span{
    gap: 4px;
    display: flex;
    align-items: center;
}

/*----------------------------Texto-----------------------------------*/
.texto{
    width: 75%;
    display: flex;
    margin: 5vh 0;
    flex-direction: column;
}
.texto h1{
    width: 100%;
    color: #1a1919;
    text-align: center;
}

form{
    padding: 0 8vw;
    display: flex;
    flex-direction: column;
}

form label{
    color: #000000;
}

form input{
    border: none;
    outline: none;
    padding: 10px;
    color: #000000;
    border-radius: 8px;
    border: 1px solid #4359e2;
}

input[type="submit"]{
    border: none;
    cursor: pointer;
    margin: 2vh 0;
    padding: 12px 20px;
    border-radius: 4px;
    display: flex;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    color: #fafafa;
    background: #2515ff;
}

input[type="submit"]:hover {
    background: #170280;
}

.input:focus {
    outline: none;
    box-shadow: 0.1rem 0.4rem 0.8rem #778aca;
}

.input::placeholder {
    font-size: 16px;
}


@media (max-width: 900px){
    body > div:first-child{
        display: flex;
        align-items: center;
        padding: 4vh 2vw 4vh 4vw;
        justify-content: space-between;
    }

    body > div:first-child .menu-outline{
        display: flex;
        font-size: 30px;
        font-weight: bold;
    }

    body > div:first-child h1{
        font-size: 20px;
    }

    .container{
        position: relative;
    }

    .container .menu{
        width: 70vw;
        height: 85vh;
        margin-left: -70vw;
        position: absolute;
        transition: all 0.1s ease-in-out;
    }

    .container .menu.active{
        margin-left: 0vw;
    }

    .texto{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}